<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="mt-12 dark:bg-stone-900">
    <div class="max-w-xl mx-auto">
        <h1
            class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Hello, Vue</h1>
        <div id="app">
            <div v-show="showBooks">
                <div v-for="book in books">
                    <div
                        class="block mt-4 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 transition-colors" :class="{ fav: book.isFav }">
                        <a href="#!">
                            <img class="rounded-t-lg w-18 h-96 object-cover " :src="book.img" alt="book.title" />
                        </a>
                        <div class="p-6">
                            <h5
                                class="mb-2 text-xl font-semibold font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                {{book.title}}
                            </h5>
                            <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                {{book.author}}
                            </h5>
                            <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <button @click="toggleFav(book)"
                                class="inline-block active:bg-blue-800 rounded-xl bg-blue-700 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                                favorite
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="mt-4 active:bg-blue-800 items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                @click="toggleShowBooks">
                <span v-if="showBooks">
                    Hide Books
                </span>
                <span v-else>
                    Show Books
                </span>
            </button>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>